<% provide(:title, 'Sign up') %>
<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :full_name, "フルネーム（登録用）" %>
      <%= f.text_field :full_name, class: 'form-control' %>

      <%= f.label :user_name, "ユーザーネーム(表示されます)" %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= hidden_field_tag :uid, session['devise.facebook_data'][:uid] %>
      <%= hidden_field_tag :provider, session['devise.facebook_data'][:provider] %>
      
      <%= link_to "ご登録前にお読みください（利用規約ページ）", terms_path %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
