<% visitor = notification.visitor %>
<% visited = notification.visited %>
<span class='col-md-6.mx-auto form-inline'>
  <%= link_to user_path(visitor) do %>
    <%= gravatar_for visitor %>
    <strong><%= visitor.user_name + 'さんが' %></strong>
  <% end %>
  
  <% case notification.action %>
    <% when 'like' then %>
      <%= link_to 'あなたの投稿', notification.photo, style: "font-weight: bold;" %>
      <%= 'をお気に入りに入れました' %>
    <% when 'comment' then %>
      <% if notification.post.user_id == visited.id %>
      <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
      <%= 'にコメントしました' %>
      <% end %>
    <span class='small text-muted text-right' >
      <%= time_ago_in_words(notification.created_at).upcase %>
    </span>
  <% end %>
</span>  
<hr>
