<% provide(:title, 'Photo upload') %>
<h1>写真アップロード画面</h1>

<%= form_with(model: Photo.new, local: true ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="image">
    <%= f.label :image, "写真選択ボタン" %>
    <%= f.file_field :image, accept: "image/jpeg, image/png" %>
  </span>
  <%= f.hidden_field :id %>
  <%= f.submit "写真アップロードボタン", class: "btn btn-primary" %>
<% end %>